*.db
.*.swp
*.pyc
*.pyo
*.tar
*.tgz
*.tar.gz
*.egg-info
*.egg
*~
*\#
*.bak
*.log
.DS_Store
.coverage
/cover/
env
/media/
/static/
/whoosh_index/
/xapian/
/db/
.sass\-cache
/node_modules/
*.sqlite3
/radio/
celerybeat-schedule
*.pid
config/solr_schema.xml
/htmlcov
/docs/_build
